<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>o que eu amo em você</title>
  </head>
  <body>
    <main>
        <article>
            <header>
                <button role="button" aria-label="ir para página do card" routerLink="">
                    <svg width="36" height="34" viewBox="0 0 36 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.5" y="0.5" width="35" height="33" rx="4.5" stroke="#ED285B"/>
                        <path d="M29.7071 17.7071C30.0976 17.3166 30.0976 16.6834 29.7071 16.2929L23.3431 9.92893C22.9526 9.53841 22.3195 9.53841 21.9289 9.92893C21.5384 10.3195 21.5384 10.9526 21.9289 11.3431L27.5858 17L21.9289 22.6569C21.5384 23.0474 21.5384 23.6805 21.9289 24.0711C22.3195 24.4616 22.9526 24.4616 23.3431 24.0711L29.7071 17.7071ZM6 18L29 18V16L6 16V18Z" fill="#ED285B"/>
                    </svg>
                </button>
              <h1>O que eu amo em você</h1>
            </header>
      
            <section>
              <p>
                Aguarda um pouco mozão, ta em construção...
              </p>
            </section>
          </article>
    </main>
  </body>
</html>
